<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
        <title>Personal Page</title>
        <link href="/assets/css/flowbite.min.css"  rel="stylesheet" />
    </head>
    <body>
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
        </button>

        <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">

    



            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800" style="background-color:black;" >
            <a th:href="@{/appointment-system}" class="flex items-center pl-2.5 mb-5">
                <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-7" alt="Flowbite Logo" /> -->
                <img src="/assets/images/IPet.svg" width="100%" height="100%"/>
                <!-- 这里是本来的返回homepage的链接 -->
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
            </a>
            <ul class="space-y-2 font-medium">
                <br>
                <li>
                    <a th:href="@{/customer/profile}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <!-- <svg aria-hidden="true" class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                        <span class="ml-3">Appointment</span> -->
                        <img src="/assets/images/AppointmentTitle.svg" />
                    </a>
                </li>
                <li>
                    <a th:href="@{/customer/profile/pet}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <!-- <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">My Pet</span> -->
                        <img style="margin-left: 5%;" src="/assets/images/MyPetTitle.svg" />
                    </a>
                </li>
                <li>
                    <a th:href="@{/customer/profile/account}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <!-- <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">My Pet</span> -->
                        <img src="/assets/images/AccountTitle2.svg" />
                    </a>
                </li>
                
            </ul>

            <!-- <img src="../static/assets/images/HappyDog.svg" width="70%" height="70%"/> -->


            <img src="/assets/images/PBottom2.svg" style="margin-top:40%;"/>
            

            <!-- <img src="../static/assets/images/Aisde-B.svg" /> -->

            
            
            </div>




            

            

        </aside>

          <div class="p-4 sm:ml-64">
            <section class="bg-white dark:bg-gray-900" >
                <table class="headstyle" >
                    <tr >
                        <img style="width: 80%; height: 80%;" src="/assets/images/PTopAppointment.svg" />

                    </tr>
                    
                </table>
                
            </section>

            <hr class="my-6 border-gray-200 h-10 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="p-4 border-0 border-gray-200 rounded-lg dark:border-gray-700 mt-14">
                <!-- <div class="grid grid-cols-3 gap-4 mb-4"> -->
                 
                    
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="margin-top: -10%;">
                    <div class="flex items-center justify-between py-4 bg-white dark:bg-gray-800">
                
                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative" style="margin-left: 2%">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                            </div>
                            <form th:action="@{/customer/profile/search}" method="POST">
                                <input type="text" id="table-search-users" name="SearchKey" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for appointments by Pet Name">
                            </form>
                            
                        </div>
                    </div>



                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <!-- <th scope="col" class="p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                    </div>
                                </th> -->
                                
                                <th scope="col" class="px-6 py-3">
                                    <img style="width: 60%; height: 60%;" src="/assets/images/AppoinPet.svg" />
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <img style="width: 110%; height:110%; margin-left: -50%;" src="/assets/images/AppoinGroomer.svg" />
                                </th>
                                
                                <th scope="col" class="px-6 py-3">
                                    <img style="width: 80%; height: 80%;" src="/assets/images/AppoinStatus.svg" />
                                </th>
                                
                                <th scope="col" class="px-6 py-3">
                                    <img style="width: 100%; height: 100%;" src="/assets/images/AppoinAction.svg" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="appointment : ${appList}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <!-- <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                    </div>
                                </td> -->
                                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <!-- <img src="https://flowbite.s3.amazonaws.com/blocks/application-ui/devices/apple-iphone-14.png" alt="iMac Front Image" class="w-auto h-8 mr-3"> -->
                                    <!-- <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Jese image"> -->
                                    <div class="pl-3">
                                        <div class="text-base font-semibold" th:text="${appointment.getPet().getName()}"></div>
                                    </div>  
                                </th>
                                <td class="px-6 py-4" th:text="${appointment.getGroomer().getName()}">
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <script th:inline="javascript">
                                            // Please ignore this error (It can run as we want anyway)
                                        var app = [[${appointment}]];
                                        var appStatus = app.status;
                                               if(appStatus=="cancelled"){
                                                 document.write("<div class='h-2.5 w-2.5 rounded-full bg-gray-500 mr-2'></div>");
                                               }else{
                                                 document.write("<div class='h-2.5 w-2.5 rounded-full bg-green-500 mr-2'></div>");
                                               }
                                        </script>
                                        <div th:text="${appointment.getStatus()}"></div>
                                        
                         
                                        <!-- <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> <div th:text="${appointment.getStatus()}"></div> -->
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    
                                    <button th:attr="data-aid=${appointment.aid}, data-status=${appointment.status}, 
                                    data-service_name=${appointment.serviceType.serviceName}, data-groomer_name=${appointment.groomer.name}, 
                                    data-pet_name=${appointment.pet.name}, data-totalprice=${appointment.totalprice}, 
                                    data-start_time=${appointment.startTime}, data-finish_time=${appointment.finishTime},
                                    data-create_time=${appointment.createTime}, data-cancel_time=${appointment.cancelTime}"
                                    onclick="viewAppointment(this)" 
                                    data-modal-target="editUserModal" data-modal-show="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Details</button>

                                    <button th:attr="data-aid1=${appointment.aid}" style="margin-left: 10%; color: red;" onclick="cancelAppointment(this)"
                                    data-modal-target="editUserModal1" data-modal-show="editUserModal1" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Cancel</button>
                                </td>
                                <!-- <td class="px-6 py-4">
                                    
                                    <button style="margin-left: -90%;"
                                    data-modal-target="editUserModal" data-modal-show="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Cancel</button>
                                </td> -->
                            </tr>
                           
                        </tbody>
                    </table>



                    <!-- Edit user modal -->
                    <div id="editUserModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative w-full max-w-2xl max-h-full">
                            <!-- Modal content -->
                            <form action="#" class="relative bg-white shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                        Detailed Information
                                    </h3>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                                    </button>
                                </div>

                                <!-- Modal body -->
                                <!-- th:action="@{/maintain/updateGroomer}"  -->
                                <form method="POST" th:object="${appointment}">
                                    <div class="p-6 space-y-6">
                                        <div class="grid grid-cols-6 gap-6">
                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="aid" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Appointment ID&nbsp;:</label>
                                                <input id="aid" name="aid" disabled="disabled" />
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="totalprice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Price&nbsp;:</label>
                                                <input name="totalprice" id="totalprice" disabled="disabled" />
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status&nbsp;:</label>
                                                <input name="status" id="status" disabled="disabled" />
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="serviceName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Service&nbsp;:</label>
                                                <input name="serviceName" id="serviceName" disabled="disabled" />
                                            </div>
                                            
                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="groomerName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Groomer&nbsp;:</label>
                                                <input name="groomerName" id="groomerName" disabled="disabled"/>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="petName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pet&nbsp;:</label>
                                                <input name="petName" id="petName" disabled="disabled" />
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="startTime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Time&nbsp;:</label>
                                                <input name="startTime" id="startTime" disabled="disabled" />
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="finishTime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Finish Time&nbsp;:</label>
                                                <input name="finishTime" id="finishTime" disabled="disabled" />
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="createTime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Appointment Creation Time&nbsp;:</label>
                                                <input name="createTime" id="createTime" disabled="disabled" />
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="cancelTime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cancel Time&nbsp;:</label>
                                                <input name="cancelTime" id="cancelTime" disabled="disabled" />
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>

                    <div id="editUserModal1" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative w-full max-w-2xl max-h-full">
                            <!-- Modal content -->

                            <form th:action="@{/customer/profile/cancel}" method="POST" th:object="${appointment}" class="relative bg-white shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div class="col-span-6 sm:col-span-3">
                                    <!-- <label for="aid1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Appointment ID&nbsp;:</label> -->
                                    <input id="aid1" name="aid" th:field="*{aid}" style="display: none;"/>
                                </div>

                                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                    <h3 style="margin-top: 2%;" class="text-gray-700 text-gray-900 dark:text-white">
                                        Are you sure to cancel this appointment?
                                    </h3>
                                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal1">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                                    </button>
                                </div>

                                <button style="background-color: red; margin-top: 4%; margin-left: 40%;" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-modal-hide="editUserModal1">Yes, I'm sure</button>
                                
                            </form>

                        
                        </div>
                    </div>
                </div>


                <!-- <a name="MyPet" style="font-size: 50px;">View My Pet Information</a> -->

               
          
                     <!-- <a name="ViewApp" style="font-size: 50px;">View My Appointment</a>
                     <div class="ViewAppInfo"  style="font-size: 60px;">
                        这个地方放的是appointment这个地方放的是appointment这个地方放的是appointment这个地方放的是appointment这个地方放的是appointment这个地方放的是appointment
                     </div>



                    <a name="MyPet" style="font-size: 50px;">View My Pet Information</a>
                    <div class="ViewPet"  style="font-size: 60px;">
                        这个地方放的是MyPet这个地方放的是MyPet这个地方放的是MyPet这个地方放的是MyPet这个地方放的是MyPet这个地方放的是MyPet这个地方放的是MyPet这个地方放的是MyPet
                    </div>

                    <a name="Account" style="font-size: 50px;">View My Account</a>
                    <div class="ViewAccount"  style="font-size: 60px;">
                        这个地方放的是PersonalInfo这个地方放的是PersonalInfo这个地方放的是PersonalInfo这个地方放的是PersonalInfo这个地方放的是PersonalInfo这个地方放的是PersonalInfo
                    </div> -->
        

                <!-- </div> -->
            </div>
          </div>
        
          <!-- <div class="p-4 sm:ml-64">
             <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
                <div class="grid grid-cols-3 gap-4 mb-4">
                   <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                </div>
                <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
                   <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                </div>
                <div class="grid grid-cols-2 gap-4 mb-4">
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                </div>
                <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
                   <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                </div>
                <div class="grid grid-cols-2 gap-4">
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
                      <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
                   </div>
                </div>
             </div>
          </div> -->
          
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

        <script th:inline="javascript">
            function viewAppointment(button) {
                document.getElementById("aid").value = button.dataset.aid;
                document.getElementById("totalprice").value = button.dataset.totalprice;
                document.getElementById("status").value = button.dataset.status;
                document.getElementById("serviceName").value = button.dataset.service_name;
                document.getElementById("groomerName").value = button.dataset.groomer_name;
                document.getElementById("petName").value = button.dataset.pet_name;
                document.getElementById("startTime").value = button.dataset.start_time;
                document.getElementById("finishTime").value = button.dataset.finish_time;
                document.getElementById("createTime").value = button.dataset.create_time;
                document.getElementById("cancelTime").value = button.dataset.cancel_time;
            }
        </script>

        <script th:inline="javascript">
            function cancelAppointment(button) {
                document.getElementById("aid1").value = button.dataset.aid1;
            }
        </script>

    </body>
</html>


