<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>New Pet</title>
    </head>
    <body>
        <h1>Add New Pet</h1>
        <form th:action="@{/manager/groomerList/add}" method="POST" th:object="${groomer}">
            <div align=center>
                    <label for="phoneNumber">ID</label>
                    <input type="text" th:field="*{phoneNumber}" name="id" id="id">

                    <label for="name">Name</label>
                    <input type="text" th:field="*{name}" name="name" id="name" >

                    <label for="gender">Gender Type</label>
                    <input type="text" th:field="*{gender}" name="gender" id="gender">

                    <label for="rank">Ranks</label>
                    <input type="text"  th:field="*{rank}" name="rank" id="rank">
                    <br><br>
                    <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>