<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <title>Manager Maintain Page</title>
</head>

<body>
    <h1>Manager Maintain Page</h1>

    <!--User maintain-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Registration Time</th>
                <th>ImageURL</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.uid}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.registrationTime}"></td>
                <td th:text="${user.imageURL}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <form th:action="@{/manager/deleteUser}" method="POST" object="${user}">
                        <input type="hidden" th:value="${user.uid}" id="uid" name="uid" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br />


    <!-- Groomer maintain -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Groomername</th>
                <th>Gender</th>
                <th>imageURL</th>
                <th>Rank</th>
                <th>Phone Number</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="groomer : ${groomers}">
                <td th:text="${groomer.gid}"></td>
                <td th:text="${groomer.name}"></td>
                <td th:text="${groomer.gender}"></td>
                <td th:text="${groomer.image_url}"></td>
                <td th:text="${groomer.rank}"></td>
                <td th:text="${groomer.phoneNumber}"></td>
                <td th:text="${groomer.description}"></td>
                <td>
                    <button th:attr="data-gid=${groomer.gid}, data-name=${groomer.name},
                        data-gender=${groomer.gender},data-image_url=${groomer.image_url},data-rank=${groomer.rank}, 
                        data-phone_number=${groomer.phoneNumber}, data-description=${groomer.description}"
                        onclick="editGroomer(this)">Edit</button>
                </td>
                <td>
                    <form th:action="@{/manager/deleteGroomer}" method="POST" object="${groomer}">
                        <!-- <input type="text" th:value="${groomer.gid}" id="gid" name="gid" /> -->
                        <input type="text" th:value="${groomer.gid}"  name="gid"/>
                        <!-- id="gid1" -->
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/manager/updateGroomer}" method="POST" object="${groomer}">
                        <!-- <input type="text" th:value="${groomer.gid}" id="gid" name="gid" /> -->
                        <input type="text" th:value="${groomer.gid}"  name="gid"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>

        </tbody>
    </table>
    <br />
    <form id="editForm" th:action="@{/manager/updateGroomer}" th:method="post" th:object="${groomer}">
        <input type="hidden" id="gid" name="gid" />
        <label for="name">Groomer name:</label>
        <input type="text" id="name" name="name" />
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" />
        <label for="image_url">ImageURL:</label>
        <input type="text" id="image_url" name="image_url" />
        <label for="rank">Rank:</label>
        <input type="text" id="rank" name="rank" />
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" />
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" />
        <button type="submit">Update</button>
    </form>

    <script th:inline="javascript">
        function editGroomer(button) {
            document.getElementById("gid").value = button.dataset.gid;
            document.getElementById("name").value = button.dataset.name;
            document.getElementById("gender").value = button.dataset.gender;
            document.getElementById("image_url").value = button.dataset.image_url;
            document.getElementById("rank").value = button.dataset.rank;
            document.getElementById("phoneNumber").value = button.dataset.phone_number;
            document.getElementById("description").value = button.dataset.description;
            console.log(button.dataset.image_url);
            console.log(document.getElementById("image_url").value);
        }
    </script>



    <!--Service maintain-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Service Time</th>
                <th>BasicPrice</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="serviceType : ${serviceTypes}">
                <td th:text="${serviceType.sid}"></td>
                <td th:text="${serviceType.service_name}"></td>
                <td th:text="${serviceType.service_time}"></td>
                <td th:text="${serviceType.basic_price}"></td>
                <td>
                    <button th:attr="data-sid=${serviceType.sid}, data-service_name=${serviceType.service_name},
                    data-service_time=${serviceType.service_time},data-basic_price=${serviceType.basic_price}"
                        onclick="editService(this)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <form id="editForm" th:action="@{/manager/updateService}" th:method="post" th:object="${serviceType}">
        <input type="hidden" id="sid" name="sid" />
        <label for="service_name">Service name:</label>
        <input type="text" id="service_name" name="service_name" />
        <label for="service_time">Service Time:</label>
        <input type="text" id="service_time" name="service_time" />
        <label for="basicPrice">Basic Price:</label>
        <input type="text" id="basic_price" name="basic_price" />
        <button type="submit">Update</button>
    </form>

    <script th:inline="javascript">
        function editService(button) {
            document.getElementById("sid").value = button.dataset.gid;
            document.getElementById("service_name").value = button.dataset.service_name;
            document.getElementById("service_time").value = button.dataset.service_time;
            document.getElementById("basic_price").value = button.dataset.basic_price;
        }
    </script>


    <!--Appointment maintain-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>createTime</th>
                <th>startTime</th>
                <th>status</th>
                <th>serviceType</th>
                <th>groomer</th>
                <th>user</th>
                <th>pet</th>
                <th>finishTime</th>
                <th>cancelTime</th>
                <th>totalprice</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="appointment : ${aList}">
                <td th:text="${appointment.aid}"></td>
                <td th:text="${appointment.createTime}"></td>
                <td th:text="${appointment.startTime}"></td>
                <td th:text="${appointment.status}"></td>
                <td th:text="${appointment.serviceType}"></td>
                <td th:text="${appointment.groomer}"></td>
                <td th:text="${appointment.user}"></td>
                <td th:text="${appointment.pet}"></td>
                <td th:text="${appointment.finishTime}"></td>
                <td th:text="${appointment.cancelTime}"></td>
                <td th:text="${appointment.totalprice}"></td>
                <td>
                    <button th:attr="data-aid=${appointment.aid}, data-createTime=${appointment.createTime},
                    data-startTime=${appointment.startTime},data-status=${appointment.status},data-serviceType=${appointment.serviceType}, 
                    data-groomer=${appointment.groomer}, data-user=${appointment.user},data-pet=${appointment.pet},data-finishTime=${appointment.finishTime}, 
                    data-cancelTime=${appointment.cancelTime}, data-totalprice=${appointment.totalprice}"
                        onclick="editAppointment(this)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <form id="editForm" th:action="@{/manager/update}" th:method="post">
        <input type="text" id="aId" name="aid" disabled="true" />
        <label for="createTime">createTime:</label>
        <input type="text" id="createTime" name="createTime" disabled="true" />
        <label for="startTime">startTime:</label>
        <input type="text" id="startTime" name="startTime" disabled="true" />
        <label for="status">status:</label>
        <select type="text" id="status" name="status">
            <option value="0">
                <P>Waiting</P>
            </option>
            <option value="1">
                <P>Working</P>
            </option>
            <option value="2">
                <P>Done</P>
            </option>
        </select>
        <label for="serviceType">serviceType:</label>
        <input type="text" id="serviceType" name="serviceType" disabled="true" />
        <label for="groomer">groomer:</label>
        <input type="text" id="groomer" name="groomer" disabled="true" />
        <label for="user">user:</label>
        <input type="text" id="user" name="user" disabled="true" />
        <label for="status">pet:</label>
        <input type="text" id="pet" name="pet" disabled="true" />
        <label for="finishTime">finishTime:</label>
        <input type="text" id="finishTime" name="finishTime" disabled="true" />
        <label for="cancelTime">cancelTime:</label>
        <input type="text" id="cancelTime" name="cancelTime" disabled="true" />
        <label for="totalprice">totalprice:</label>
        <input type="text" id="totalprice" name="totalprice" disabled="true" />
        <button type="submit">Update</button>
    </form>

    <script th:inline="javascript">
        function editAppointment(button) {
            document.getElementById("aid").value = button.dataset.aid;
            document.getElementById("createTime").value = button.dataset.createTime;
            document.getElementById("startTime").value = button.dataset.startTime;
            document.getElementById("status").value = button.dataset.status;
            document.getElementById("serviceType").value = button.dataset.serviceType;
            document.getElementById("groomer").value = button.dataset.groomer;
            document.getElementById("user").value = button.dataset.user;
            document.getElementById("pet").value = button.dataset.pet;
            document.getElementById("finishTime").value = button.dataset.finishTime;
            document.getElementById("cancelTime").value = button.dataset.cancelTime;
            document.getElementById("totalprice").value = button.dataset.totalprice;

        }
    </script>


</body>

</html>