<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <title>Manager Maintain Page</title>
</head>

<body>
    <h1>Manager Maintain Page</h1>

    <!--User maintain-->

    <div>
        <form th:action="@{/manager/searchUser}" method="post">
            <input type="text" id="keyword" name="keyword" placeholder="Search by Username" />
            <button type="submit">Search</button>
        </form>
    </div>

    
    <!-- <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Registration Time</th>
                <th>ImageURL</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="user : ${userSearchRst}">
                <td th:text="${user.uid}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.registrationTime}"></td>
                <td th:text="${user.imageURL}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table> -->

    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Registration Time</th>
            <th>ImageURL</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.uid}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.registrationTime}"></td>
            <td th:text="${user.imageURL}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
          </tr>
        </tbody>
      </table>

    <!-- <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Registration Time</th>
                <th>ImageURL</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.uid}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.registrationTime}"></td>
                <td th:text="${user.imageURL}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <form th:action="@{/manager/deleteUser}" method="POST" object="${user}">
                        <input type="hidden" th:value="${user.uid}" id="uid" name="uid" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table> -->
    <br />


    <!-- Groomer maintain -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Groomername</th>
                <th>Gender</th>
                <th>imageURL</th>
                <th>Rank</th>
                <th>Phone Number</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="groomer : ${groomers}">
                <td th:text="${groomer.gid}"></td>
                <td th:text="${groomer.name}"></td>
                <td th:text="${groomer.gender}"></td>
                <td th:text="${groomer.image_url}"></td>
                <td th:text="${groomer.rank}"></td>
                <td th:text="${groomer.phoneNumber}"></td>
                <td th:text="${groomer.description}"></td>
                <td>
                    <button th:attr="data-gid=${groomer.gid}, data-name=${groomer.name},
                        data-gender=${groomer.gender},data-image_url=${groomer.image_url},data-rank=${groomer.rank}, 
                        data-phone_number=${groomer.phoneNumber}, data-description=${groomer.description}"
                        onclick="editGroomer(this)">Edit</button>
                </td>
                <td>
                    <form th:action="@{/manager/deleteGroomer}" method="POST" object="${groomer}">
                        <!-- <input type="text" th:value="${groomer.gid}" id="gid" name="gid" /> -->
                        <input type="hidden" th:value="${groomer.gid}"  name="gid"/>
                        <!-- id="gid1" -->
                        <button type="submit">Delete</button>
                    </form>
                </td>
                
                <!-- <td>
                    <form th:action="@{/manager/updateGroomer}" method="POST" object="${groomer}">
                        <input type="hidden" th:value="${groomer.gid}"  name="gid"/>
                        <button type="submit">Update</button>
                    </form>
                </td> -->
                

            </tr>
        </tbody>
    </table>


    <br />
    <form id="editForm" th:action="@{/manager/updateGroomer}" th:method="post" th:object="${groomer}">
        <input type="hidden" id="gid" name="gid" />
        <label for="name">Groomer name:</label>
        <input type="text" id="name" name="name" />
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" />
        <label for="image_url">ImageURL:</label>
        <input type="text" id="image_url" name="image_url" />
        <label for="rank">Rank:</label>
        <input type="text" id="rank" name="rank" />
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" />
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" />
        <button type="submit">Update</button>
        <!-- add a groomer -->
    </form>
    <form th:action="@{/manager/addGroomer}" method="POST" object="${groomer}">
        <!-- <input type="text" th:value="${groomer.gid}" id="gid" name="gid" /> -->
        <input type="hidden" name="gid"/>
        <label for="addName">Groomer name:</label>
        <input type="text" id="addName" name="name" />
        <label for="addGender">Gender:</label>
        <input type="text" id="addGender" name="gender" />
        <label for="addImage_url">ImageURL:</label>
        <input type="text" id="addImage_url" name="image_url" />
        <label for="addRank">Rank:</label>
        <input type="text" id="addRank" name="rank" />
        <label for="addPhoneNumber">Phone Number:</label>
        <input type="text" id="addPhoneNumber" name="phoneNumber" />
        <label for="addDescription">Description:</label>
        <input type="text" id="addDescription" name="description" />
        <button type="submit">Add</button>
    </form>


    <script th:inline="javascript">
        function editGroomer(button) {
            document.getElementById("gid").value = button.dataset.gid;
            document.getElementById("name").value = button.dataset.name;
            document.getElementById("gender").value = button.dataset.gender;
            document.getElementById("image_url").value = button.dataset.image_url;
            document.getElementById("rank").value = button.dataset.rank;
            document.getElementById("phoneNumber").value = button.dataset.phone_number;
            document.getElementById("description").value = button.dataset.description;
            console.log(button.dataset.image_url);
            console.log(document.getElementById("image_url").value);
        }
    </script>



    <!--Service maintain-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Service Time</th>
                <th>BasicPrice</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="serviceType : ${serviceTypes}">
                <td th:text="${serviceType.sid}" ></td>
                <td th:text="${serviceType.service_name}"></td>
                <td th:text="${serviceType.service_time}"></td>
                <td th:text="${serviceType.basic_price}"></td>
                <td>
                    <button th:attr="data-sid=${serviceType.sid}, data-service_name=${serviceType.service_name},
                    data-service_time=${serviceType.service_time},data-basic_price=${serviceType.basic_price}"
                        onclick="editService(this)">Edit</button>
                </td>
                <td>
                    <form th:action="@{/manager/deleteServiceType}" method="POST" object="${serviceType}">
                        <!-- <input type="text" th:value="${groomer.gid}" id="gid" name="gid" /> -->
                        <input type="hidden" th:value="${serviceType.sid}"  name="sid"/>
                        <!-- id="gid1" -->
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <form id="editForm" th:action="@{/manager/updateServiceType}" th:method="post" th:object="${serviceType}">
        <input type="hidden" id="sid" name="sid" />
        <label for="service_name">Service name:  </label>
        <input type="text" id="service_name" name="service_name" />
        <label for="service_time">Service Time:  </label>
        <input type="text" id="service_time" name="service_time" />
        <label for="basic_price">Basic Price:  </label>
        <input type="text" id="basic_price" name="basic_price" />
        <button type="submit">Update</button>
    </form>
    <form th:action="@{/manager/addServiceType}" method="POST" object="${serviceType}">
        <!-- <input type="text" th:value="${groomer.gid}" id="gid" name="gid" /> -->
        <input type="hidden" id="addSid" name="sid" />
        <label for="addService_name">Service name:  </label>
        <input type="text" id="addService_name" name="service_name" />
        <label for="addService_time">Service Time:  </label>
        <input type="text" id="addService_time" name="service_time" />
        <label for="addBasic_price">Basic Price:  </label>
        <input type="text" id="addBasic_price" name="basic_price" />
        <button type="submit">Add</button>
    </form>

    <script th:inline="javascript">
        function editService(button) {
            document.getElementById("sid").value = button.dataset.sid;
            document.getElementById("service_name").value = button.dataset.service_name;
            document.getElementById("service_time").value = button.dataset.service_time;
            document.getElementById("basic_price").value = button.dataset.basic_price;
        }
    </script>


    <!--Appointment maintain-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>createTime</th>
                <th>startTime</th>
                <th>status</th>
                <th>serviceType</th>
                <th>groomer</th>
                <th>user</th>
                <th>pet</th>
                <th>finishTime</th>
                <th>cancelTime</th>
                <th>totalprice</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.aid}"></td>
                <td th:text="${appointment.create_time}"></td>
                <td th:text="${appointment.start_time}"></td>
                <td th:text="${appointment.status}"></td>
                <td th:text="${appointment.service_type.service_name}"></td>
                <td th:text="${appointment.groomer.name}"></td>
                <td th:text="${appointment.user.username}"></td>
                <td th:text="${appointment.pet.name}"></td>
                <td th:text="${appointment.finish_time}"></td>
                <td th:text="${appointment.cancel_time}"></td>
                <td th:text="${appointment.total_price}"></td>
                <!-- <td>
                    <button th:attr="data-aid=${appointment.aid}, data-create_time=${appointment.create_time},
                    data-start_time=${appointment.start_time},data-status=${appointment.status},data-service_type=${appointment.service_type.service_name}, 
                    data-groomer=${appointment.groomer.name}, data-user=${appointment.user.username},data-pet=${appointment.pet.name},data-finish_time=${appointment.finish_time}, 
                    data-cancel_time=${appointment.cancel_time}, data-total_price=${appointment.total_price}"
                        onclick="editAppointment(this)">Edit</button>
                </td> -->
                <td>
                    <button th:attr="data-aid=${appointment.aid}, data-status=${appointment.status}"
                        onclick="editAppointment(this)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />

    <!-- update appointment -->
    <form id="editForm" th:action="@{/manager/updateAppointment}" th:method="post" th:object="${appointment}">
        <input type="text" id="aid" name="aid" disabled="true" />
        <!-- <label for="create_time">createTime:</label>
        <input type="text" id="create_time" name="create_time" disabled="true" />
        <label for="start_time">startTime:</label>
        <input type="text" id="start_time" name="start_time" disabled="true" /> -->
        <label for="status">status:</label>
        <select type="text" id="status" name="status">
            <option value="Pending">
                <P>Pending</P>
            </option>
            <option value="Accepted">
                <P>Accepted</P>
            </option>
            <option value="Finished">
                <P>Finished</P>
            </option>
            <option value="Cancelled">
                <P>Cancelled</P>
            </option>
        </select>
        <!-- <label for="service_type">serviceType:</label>
        <input type="text" id="service_type" name="service_type" disabled="true" />
        <label for="groomer">groomer:</label>
        <input type="text" id="groomer" name="groomer" disabled="true" />
        <label for="user">user:</label>
        <input type="text" id="user" name="user" disabled="true" />
        <label for="pet">pet:</label>
        <input type="text" id="pet" name="pet" disabled="true" /> -->
        <!-- <label for="finish_time">finishTime:</label>
        <input type="text" id="finish_time" name="finish_time" disabled="true" />
        <label for="cancel_time">cancelTime:</label>
        <input type="text" id="cancel_time" name="cancel_time" disabled="true" /> -->
        <!-- <label for="total_price">totalprice:</label>
        <input type="text" id="total_price" name="total_price" disabled="true" /> -->
        <button type="submit">Update</button>
    </form>

    <!-- To be modified -->
    <!-- <form th:action="@{/manager/}" method="POST" object="${groomer}">
        <input type="hidden" name="gid"/>
        <label for="addName">Groomer name:</label>
        <input type="text" id="addName" name="name" />
        <label for="addGender">Gender:</label>
        <input type="text" id="addGender" name="gender" />
        <label for="addImage_url">ImageURL:</label>
        <input type="text" id="addImage_url" name="image_url" />
        <label for="addRank">Rank:</label>
        <input type="text" id="addRank" name="rank" />
        <label for="addPhoneNumber">Phone Number:</label>
        <input type="text" id="addPhoneNumber" name="phoneNumber" />
        <label for="addDescription">Description:</label>
        <input type="text" id="addDescription" name="description" />
        <button type="submit">Add</button>
    </form> -->

    <!-- document.getElementById("create_time").value = button.dataset.create_time;
            document.getElementById("start_time").value = button.dataset.start_time;

            document.getElementById("service_type").value = button.dataset.service_type;
            document.getElementById("groomer").value = button.dataset.groomer;
            document.getElementById("user").value = button.dataset.user;
            document.getElementById("pet").value = button.dataset.pet;
            document.getElementById("finish_time").value = button.dataset.finish_time;
            document.getElementById("cancel_time").value = button.dataset.cancel_time;
            document.getElementById("total_price").value = button.dataset.total_price; -->
    <script th:inline="javascript">
        function editAppointment(button) {
            document.getElementById("aid").value = button.dataset.aid;
            
            document.getElementById("status").value = button.dataset.status;
            
        }
    </script>


</body>

</html>