<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Statistical Report</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <!-- from report -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.2.2/echarts.min.js"></script>
</head>

<body>
    <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        style="background-color: rgba(1, 1, 1, 0.7);">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                        aria-controls="logo-sidebar" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 bg-yellow-300 dark:focus:ring-gray-600">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                            </path>
                        </svg>
                    </button>
                    <a href="https://xx.com" class="flex ml-2 md:mr-24">
                        <span
                            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">IPet</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <aside id="logo-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidebar">
        <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="maintainUser"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg aria-hidden="true"
                            class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                        </svg>
                        <span class="ml-3">User</span>
                    </a>
                </li>

                <li>
                    <a href="maintainGroomer"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg aria-hidden="true"
                            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                            </path>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Groomer</span>

                    </a>
                </li>
                <li>
                    <a href="maintainServiceType"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg aria-hidden="true"
                            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
                            </path>
                            <path
                                d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
                            </path>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Service</span>

                    </a>
                </li>
                <li>
                    <a href="maintainAppointment"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg aria-hidden="true"
                            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Appointment</span>
                    </a>
                </li>
                <li>
                    <a href="report"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg aria-hidden="true"
                            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Statistical Report</span>
                    </a>
                </li>

            </ul>
        </div>
    </aside>
    <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">



            <!-- <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <div class="flex items-center justify-between py-4 bg-white dark:bg-gray-800">
                </div>
        
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <form th:action="@{/maintain/searchUser}" method="post">
                        <input type="text" id="keyword" name="keyword"
                            class="p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search by Username" />
                        <button type="submit" class="inline-flex items-center justify-center px-3 ml-4 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">Search</button>
                    </form>
                </div>
            </div>
            <br>

            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Username
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Password
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Registration Time
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ImageURL
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Gender
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone Number
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="px-6 py-4" th:text="${user.uid}"></td>
                        <td class="px-6 py-4" th:text="${user.username}"></td>
                        <td class="px-6 py-4" th:text="${user.password}"></td>
                        <td class="px-6 py-4" th:text="${user.registrationTime}"></td>
                        <td class="px-6 py-4" th:text="${user.imageURL}"></td>
                        <td class="px-6 py-4" th:text="${user.gender}"></td>
                        <td class="px-6 py-4" th:text="${user.phoneNumber}"></td>
                        <td class="px-6 py-4" th:text="${user.email}"></td>
                    </tr>
                </tbody>
            </table> -->
            <div class="container">
                <h1 class="text-center my-5">Pet Grooming Shop Statistical Report</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Sales data</h3>
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Date</th>
                                    <th scope="col" class="px-6 py-3">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="appointment,iterStat : ${appointments}"
                                    th:if="${iterStat.index >= iterStat.size - 10}">
                                    <td class="px-6 py-4" th:text="${appointment.getFinish_time()}"></td>
                                    <td class="px-6 py-4" th:text="${appointment.getTotal_price()}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Report - All</h3>
                        <canvas id="salesChart0" width="20" height="20"></canvas>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $(document).ready(function () {
                                let appointmentsData = [[${ appointments }]];
                                //console.log(appointmentsData);
                                let dates = appointmentsData.map(appointment => appointment.finish_time);
                                //console.log(dates);
                                let amounts = appointmentsData.map(appointment => appointment.total_price);
                                //console.log(amounts);
        
                                let ctx = document.getElementById('salesChart0').getContext('2d');
                                let chart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: dates,
                                        datasets:
                                            [
                                                {
                                                    label: 'Amount',
                                                    data: amounts,
                                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                                    borderWidth: 0.5,
                                                    borderColor: 'black'
                                                }
                                            ]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                maintainAspectRatio: false,
                                                responsive: false
                                            }
                                        }
                                    }
                                });
                                //console.log(appointmentsData);
                                //console.log(annualAppointments);
                            });
                            /*]]>*/
                        </script>
                    </div>
        
                    <div class="col-md-6">
                        <h3>Report - Annual</h3>
                        <br>
                        <canvas id="salesChart1" width="20" height="20"></canvas>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $(document).ready(function () {
                                let appointmentsData = [[${ annualAppointments }]];
                                //console.log(annualSales);
                                let dates = appointmentsData.map(obj => obj[0]);
                                //console.log(annualSales);
                                let amounts = appointmentsData.map(obj => obj[1]);
                                //console.log(annualSales);
                                // let dates = Array.from(annualSales.keys());
                                // let amounts = Array.from(annualSales.values());
        
                                let ctx = document.getElementById('salesChart1').getContext('2d');
                                let chart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: dates,
                                        datasets:
                                            [
                                                {
                                                    label: 'Amount',
                                                    data: amounts,
                                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                                    // borderColor: 'rgba(75, 192, 192, 1)',
                                                    borderWidth: 1,
                                                    borderColor: 'black'
                                                }
                                            ]
                                    },
                                    options: {
                                        
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                maintainAspectRatio: false,
                                                responsive: false
                                            }
                                        }
                                    }
                                });
                                //console.log(salesData);
                            });
                            /*]]>*/
                        </script>
                    </div>
        
                    <div class="col-md-6">
                        <h3>Report - Quarterly</h3>
                        <form id="year-form" th:action="@{/maintain/report}">
                            <select id="year-select" name="year">
                                <option value="2023" selected>2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                            </select>
                            <a id="confirm-link" href=" ">Confirm</ a>
                                <script>
                                    let yearSelect = document.getElementById("year-select");
                                    let confirmLink = document.getElementById("confirm-link");
        
                                    function updateConfirmLinkHref() {
                                        let year = yearSelect.value;
                                        let newHref = "/maintain/report?year=" + year;
                                        confirmLink.href = newHref;
                                    }
        
                                    yearSelect.addEventListener("change", updateConfirmLinkHref);
        
                                    // Set the href attribute when the page loads
                                    updateConfirmLinkHref();
                                </script>
                        </form>
                        <canvas id="salesChart2" width="200" height="200"></canvas>
                        <script th:inline="javascript">
                            $(document).ready(function () {
                                let appointmentsData = [[${ quarterlyAppointments }]];
                                console.log(appointmentsData);
                                let dates = appointmentsData.map(obj => obj[0]);
                                //console.log(annualSales);
                                let amounts = appointmentsData.map(obj => obj[1]);
                                //console.log(annualSales);
                                // let dates = Array.from(annualSales.keys());
                                // let amounts = Array.from(annualSales.values());
        
                                let ctx = document.getElementById('salesChart2').getContext('2d');
                                let chart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: dates,
                                        datasets:
                                            [
                                                {
                                                    label: 'Amount',
                                                    data: amounts,
                                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                                    // borderColor: 'rgba(75, 192, 192, 1)',
                                                    borderWidth: 1,
                                                    borderColor: 'black'
                                                }
                                            ]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                maintainAspectRatio: false,
                                                responsive: false
                                            }
                                        }
                                    }
                                });
                                //console.log(salesData);
                            });
        
                            // //获取用户选择的年份
                            // var year = $("#year").val();
                            // //将年份作为参数传递给后台
                            // $.ajax({
                            //     url: "/report",
                            //     type: "POST",
                            //     data: JSON.stringify({ year: year }),
                            //     contentType: "application/json",
                            //     success: function (data) {
                            //         //处理查询结果
                            //         //获取预约数据中的季度和数量
                            //         var quarters = [];
                            //         var counts = [];
                            //         for (var i = 0; i < data.length; i++) {
                            //             quarters.push(data[0]);
                            //             counts.push(data[1]);
                            //         }
                            //         //更新网页中的指定区域
                            //         //获取图表容器
                            //         var chartContainer = document.getElementById("chart");
                            //         //初始化图表实例
                            //         var chart = echarts.init(chartContainer);
                            //         //配置图表选项
                            //         var option = {
                            //             title: {
                            //                 text: year + "年度预约季度统计"
                            //             },
                            //             xAxis: {
                            //                 type: "category",
                            //                 data: quarters
                            //             },
                            //             yAxis: {
                            //                 type: "value"
                            //             },
                            //             series: [{
                            //                 data: counts,
                            //                 type: "bar"
                            //             }]
                            //         };
                            //         //设置图表选项
                            //         chart.setOption(option);
                            //     }
                            // });
        
                            // //获取用户选择的年份
                            // var year = $("#year").val();
                            // //将年份作为参数传递给后台
                            // $.ajax({
                            //     url: "/report",
                            //     type: "POST",
                            //     data: JSON.stringify({ year: year }),
                            //     contentType: "application/json",
                            //     success: function (data) {
                            //         //处理查询结果
                            //         //更新网页中的指定区域
                            //     }
                            // });
        
                            // /*<![CDATA[*/
                            // $(document).ready(function () {
                            //     let appointmentsData = [[${ quarterlyAppointments }]];
                            //     console.log(quarterlyAppointments);
                            //     let dates = appointmentsData.map(obj => obj[0]);
                            //     //console.log(annualSales);
                            //     let amounts = appointmentsData.map(obj => obj[1]);
                            //     //console.log(annualSales);
                            //     // let dates = Array.from(annualSales.keys());
                            //     // let amounts = Array.from(annualSales.values());
        
                            //     let ctx = document.getElementById('salesChart1').getContext('2d');
                            //     let chart = new Chart(ctx, {
                            //         type: 'bar',
                            //         data: {
                            //             labels: dates,
                            //             datasets:
                            //                 [
                            //                     {
                            //                         label: 'Amount',
                            //                         data: amounts,
                            //                         backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            //                         // borderColor: 'rgba(75, 192, 192, 1)',
                            //                         borderWidth: 1,
                            //                         borderColor: 'black'
                            //                     }
                            //                 ]
                            //         },
                            //         options: {
                            //             scales: {
                            //                 y: {
                            //                     beginAtZero: true,
                            //                     maintainAspectRatio: false,
                            //                     responsive: false
                            //                 }
                            //             }
                            //         }
                            //     });
                            //     //console.log(salesData);
                            // });
                            /*]]>*/
                        </script>
                    </div>
        
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

</body>

</html>